*{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 15px;
}

section {
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    height: 90vh;
    max-width: 640px;
}

form {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section h1 {
    text-align: center;
}

section p {
    text-align: center;
}

/* -- Buttons e linkss -- */

/* -- Butão de autenticação com google -- */
section > div > a {
    display: block;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    padding: 5px 60px;
    font-size: 14pt;
}

/* -- Esqueci Palavra passe -- */
section #forgot {
    display: block;
    color: red;
    border-radius: 30px;
    font-size: 10pt;
    text-align: right;
}

/* -- Butão de submit -- */
form button[type=submit]{
    display: block;
    margin: auto;
    padding: 5px 30px;
    text-decoration: none;
    border: none;
    width: 220px;
    color: white;
    background-color: rgb(1, 1, 90);
    border-radius: 30px;
    font-size: 14pt;
}

/* -- Butão de Sign up -- */
form div:last-child > a{
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    font-size: 14pt;
    text-align: center;
    margin-top: 8px;
}