:root{
    --cor0:#1d76b5;
    --cor1:#D3DAFF;
    --cor2:#5665AE;

}

main{
    width: 100%;
    height: 100vh;
}
h1{
    text-align: center;
    margin-top: 40%;
}
h3{
    margin-top: 20%;
    text-align: center;
    font-size: 17pt;
    font-family: sans-serif;
    font-weight: 400;
}
span{
    color: var(--cor2);
}
main > a{
    text-decoration: none;
    display: block;
    margin: auto;
    text-align: center;
    padding: 13px 15px;
    border-radius: 25px;
    background-color: var(--cor0);
    width: 70%;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
p{
    text-align: center;
    font-size: 10pt;
}
p>a{
    color: #3649a7;
}

