/* -- Variaveis e configurações inicias -- */

:root{
    --cor0:#1d76b5;
    --cor1:#D3DAFF;
    --cor2:#5665AE;

}
html{
    overflow: hidden;
}

/* -- main -- */

main{
    width: 100%;
    height: 100vh;
}
main>h1{
    text-align: center;
    margin-top: 40%;
}
main>h3{
    margin-top: 20%;
    text-align: center;
    font-size: 17pt;
    font-family: sans-serif;
    font-weight: 400;
}
main>span{
    color: var(--cor2);
}
main > a{
    text-decoration: none;
    display: block;
    margin: auto;
    text-align: center;
    padding: 13px 15px;
    border-radius: 25px;
    background-color: var(--cor0);
    width: 70%;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
main>p{
    text-align: center;
    font-size: 10pt;
}
main p>a{
    color: #3649a7;
    text-decoration: none;
}

/* -- Secção de Formulario -- */

section {
    margin: auto;
    padding: 20px;
    display: none;
    flex-direction: column;
    vertical-align: middle;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 90vh;
    width: 85%;
    position: absolute;
    background-color: white;
    top: 0;
}
section>img{
    display: none;
}

/* -- Formulario -- */

form {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
form h1 {
    text-align: center;
    margin-top: 10%;
}

/* -- Butão de autenticação com google -- */
section #btn1 {
    display: block;
    border: 1px solid var(--cor2);
    border-radius: 30px;
    text-decoration: none;
    font-size: 12pt;
    text-align: center;
    padding: 5px 20px;
    color: black;
    width: 90%;
}
form p {
    text-align: center;
}

/* -- Formulario Imputs -- */
form .campo {
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 3px 8px;
}

.campo input{
    border: none;
    font-size: 12pt;
    vertical-align: 40%;
    width: 80%;
    outline: none;
}

/* -- Esqueci Palavra passe -- */
section #forgot {
    display: block;
    color: red;
    border-radius: 30px;
    font-size: 10pt;
    text-align: right;
    text-decoration: none;
}

/* -- Butão de submit -- */
section button[type=submit]{
    display: block;
    margin: auto;
    padding: 5px;
    text-decoration: none;
    border: none;
    width: 90%;
    color: white;
    background-color: rgb(1, 1, 90);
    border-radius: 30px;
    font-size: 14pt;
    cursor: pointer;
}

/* -- Butão de Sign up -- */
section #btn2{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 14pt;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    padding: 5px;
    text-align: center;
    font-weight: 500;
}

@media screen and (min-width: 718px) {
    main{
        display: none;
    }
    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 90vh;
    }
    section>img{
        display: block;
        height: 70%;
        margin-right: 10%;
    }
    form{
        width: 25%;
        border: 1px solid gray;
        padding: 0px 25px;
    }

}
